.calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-color: rgb(145, 188, 228);
    width:300px;
    height:500px;
    border-radius: 5%;
  }
  .calculadora td button{
    display:block;
    width: 45px;
    height: 45px;
    font-size: 25px;
    background-color: rgb(214, 226, 137);
    border-radius: 10%;
  }

  #display{
    display: block;
    
    font-size: 30px;
    margin-bottom: 50px;
    width: 250px;
    height: 100px;
    line-height: 100px;
    
    background-color:grey;
    border-radius: 25px;
    
  }