body{
padding: 30px;
margin: 0px;
border: solid;
border-color: yellow;
}
h1{
    padding: 30px;
    margin: 0px;
    border: solid;
    border-color: yellow;
    }
h2{
padding: 10px;
margin: 0px;
border: solid;
border-color: yellow;


}