body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: medium;
font-style: inherit;
color: yellow;
margin: 0%;
}
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
