body {
    padding: 0px;
    margin: 0px;
    border: none;
  }
  
  /*  Propiedades de la caja del p치rrafo */
  p {
    margin: 0px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: blue;
  }
  /* Propiedades de la caja del cuerpo */
body {
  padding: 0px;
  margin: 10px;  /* Margen */
  border: solid;
  border-color: red;
}

/*  Propiedades de la caja del p치rrafo */
p {
  margin: 0px;
  padding: 10px; /* Relleno */
  border:solid;
  border-color: blue;
}
/* Propiedades de la caja del cuerpo */
body {
  padding: 5px;  /* relleno */
  margin: 10px;  /* Margen */
  border: solid;
  border-color: red;
}

/*  Propiedades de la caja del p치rrafo */
p {
  margin: 0px;
  padding: 10px; /* Relleno */
  border:solid;
  border-color: blue;
}

/* Propiedades de la caja del cuerpo */
body {
  padding: 5px;  /* relleno */
  margin: 10px;  /* Margen */
  border: solid;
  border-color: red;
}

/*  Propiedades de la caja del p치rrafo */
p {
  margin: 10px;
  padding: 10px; /* Relleno */
  border:solid;
  border-color: blue;
}

